__pycache__
venv
.idea
*.png
*.jpg
*.jpeg
*.bmp
*.yaml
obrazki_do_testow
ziemowit
command_line_main_ph2.py
command_line_main_ph2_save_mask.py
command_line_main_hairy.py
command_line_main_hairy_noprp.py
command_line_main_ham.py
command_line_main_minimal_ph2.py
statistics_inz.py
statistics_wilcoxon.py
presentation.py
